<header class="header">
  <div class="container">
    <div class="logo">
      <img src="{{ img_path }}/logo.png">
    </div>
    <div class="navigation">
      {% include 'navigation.twig' %}
    </div>
  </div>
</header>
