{% block navigation %}
   <ul class="main-menu js-main-menu">
      <li class="expanded-menu">
        <a href="#">Home</a>
        <ul>
          <li><a href="#">Home Creative</a></li>
          <li><a href="#">Home Corporate</a></li>
          <li><a href="#">Home Agency</a></li>
          <li><a href="#">Home Portfolio</a></li>
          <li><a href="#">Home Shop</a></li>
        </ul>
      </li>
      <li class="expanded-menu">
        <a href="#">Feature</a>
        <ul class="full-width">
          <li class="expanded-menu">
            <a href="#">Anatomy of stonefruit</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Stone Fruit Varieties</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Cherry</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Peach</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Apricot</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Nectarine</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Plum</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Prune</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="expanded-menu">
        <a href="#">About stone fruit</a>
        <span class="expanded-menu__button js-expanded-menu__button"></span>
        <ul>
          <li>
            <a href="#">Anatomy of stonefruit</a>
          </li>
          <li>
            <a href="#">Stone Fruit Varieties</a>
          </li>
          <li>
            <a href="#">Cherry</a>
          </li>
          <li>
            <a href="#">Peach</a>
          </li>
          <li>
            <a href="#">Apricot</a>
          </li>
          <li>
            <a href="#">Nectarine</a>
          </li>
          <li>
            <a href="#">Plum</a>
          </li>
          <li>
            <a href="#">Prune</a>
          </li>
        </ul>
      </li>
      <li class="expanded-menu">
        <a href="#">Feature</a>
        <ul class="full-width">
          <li class="expanded-menu">
            <a href="#">Anatomy of stonefruit</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Stone Fruit Varieties</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Cherry</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Peach</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Apricot</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Nectarine</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Plum</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
          <li class="expanded-menu">
            <a href="#">Prune</a>
            <ul>
              <li>
                <a href="#">Anatomy of stonefruit</a>
              </li>
              <li>
                <a href="#">Stone Fruit Varieties</a>
              </li>
              <li>
                <a href="#">Cherry</a>
              </li>
              <li>
                <a href="#">Peach</a>
              </li>
              <li>
                <a href="#">Apricot</a>
              </li>
              <li>
                <a href="#">Nectarine</a>
              </li>
              <li>
                <a href="#">Plum</a>
              </li>
              <li>
                <a href="#">Prune</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
{% endblock %}

